@import "https://use.fontawesome.com/releases/v6.3.0/css/all.css";

ul {
  list-style: none;
}

li {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: lightgray;
  border-radius: 50%;
  margin-right: 30px;
  position: relative;
}

a {
  border-radius: 50%;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.facebook:hover {
  color: #3b5998;
}

.twitter:hover {
  color: #00acee;
}

.google:hover {
  color: #db4a39;
}

.linkedin:hover {
  color: #0072b1;
}

.instagram:hover {
  color: rgba(95, 163, 202, 255);
}
