@import "https://use.fontawesome.com/releases/v6.3.0/css/all.css";

html {
  font-family: Arial, Helvetica, sans-serif;
}

.login {
  border: 1px solid black;
  padding: 4px 96px 4px 18px;
  background-color: #fff;
  position: absolute;
  left: 48px;
  top: 48px;
  transform: translate(0%, -50%);
}

.form {
  margin: 48px 48px;
  border: 1px solid black;
  width: 45vw;
  padding: 32px 24px;
}

.form-legend {
  border: 1px solid black;
  width: 10%;
  padding: 4px 8px;
  margin-bottom: 14px;
}

.property {
  margin-bottom: 24px;
  position: relative;
  display: inline-block;
  width: auto;
}

.label {
  font-weight: bold;
  display: inline-block;
  width: 80px;
}

.btn {
  color: #fff;
  background-color: black;
  padding: 6px 18px;
  border-radius: 5px;
}

.icon {
  position: absolute;
  top: 20%;
  left: 6px;
}

.input-field {
  padding-left: 24px;
}
