@media (max-width: 600px) {
  .navbar {
    justify-content: center;
  }

  .navbar-light .navbar-brand {
    margin-right: 0;
  }

  .hero img {
    display: none;
  }

  .container {
    text-align: center;
  }

  .hero h1 {
    margin-top: 60px;
  }

  .hero-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }

  .row {
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

  .col-sm-6 {
    max-width: 80%;
    text-align: left;
  }

  .col-sm-12 {
    margin-bottom: 48px;
  }

  .hero-btns a:last-child {
    display: none;
  }

  .col-12 {
    max-width: 70%;
  }

  .contact-nav li {
    display: block;
  }
}
