body {
  background-color: #eee;
  padding: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

.head,
.content,
.aside,
.footer {
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.4rem;
  color: #000;
  box-shadow: 1px 2px 5px 2px lightgray;
}

.head,
.footer {
  flex-basis: 100%;
}

.content {
  flex: 8 1 40rem;
}

.aside {
  flex: 2 1 20rem;
}
